// Modal

.modal-alert {
    width: 400px;
    height: 250px;

    transition: all .8s;

    z-index: 999;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    justify-content: space-between;

    padding: 0.5em;

    border-radius: 1em;
    border: 2px solid #ccc;
}

.modal-alert > h2 {
    width: 100%;
    text-align: center;
    font-size: $heading-size + .1em;
}

.modal-alert > button {
    border-radius: 15px;
    width: 200px;
    padding: 5px;
    background-color: #b9b8b8;
    cursor: pointer;
}
  
body.dark-mode .modal-alert {
    background-color: #000000;
}
body.dark-mode .modal {
    background-color: #fbf8f8;
}