// Configurações de reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;

    :focus {
        outline: 0;
    }
}
